.collection-card{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    height: 5%;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.card-placing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.data{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap:20%;
    align-items: center;
    width: 70%;
}
.actions{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap:10%;
    align-items: center;
    width: 30%;
}
.actions img{
    width: 20px;
    height: 20px;
}